* {
    background-color: rgb(84, 63, 84);
}

/* span.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid gray;
    margin: 2px;
} */

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: none;
    margin-top: 20px;
}


header.nav nav a {
    color: black;
    float: none;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    border: 10px solid gray;
    border-radius: 500px;
    background-color: gray;
}

.Google {
    text-align: center;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    margin: 0px;
    padding-top: 175px;
    font-weight: 500;
    color: plum;
}

.gmail {
    padding: 3px 0px;
    text-align: center;
}
.gmail:hover::after {
    content: " Gmail";
}

.images {
    padding: 3px 0px;
    text-align: center;
}
.images:hover::after {
    content: " Images";
}

.setting {
    padding: 3px 9px;
    text-align: center;
}
.setting:hover::after {
    content: " Setting";
}

.login {
    padding: 3px 0px;
    text-align: center;
}
.login:hover::after {
    content: " Login";
}





div.button {
    text-align: center;
    margin-top: 25px;
}

div.button a{
    color: rgb(84, 63, 84);
    border: 5px solid plum;
    border-radius: 200px;
    background-color: plum;
    padding: 10px;
    opacity: 100%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.P1 {
    text-align: center;
    margin: 60px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 50%;
}

.lang {
    color: yellowgreen;
}

.eng{
    color: black;
    text-decoration: none;
}

section {
    text-align: center;
}

section input{
    background-color: wheat;
    text-align: center;
    /* padding-left: 225px;
    margin-left: 20px; */
    width: 25%;
    margin: 5px auto;   
    border: 15px solid wheat;
    border-radius: 200px;
    font-size: 25px;
}

footer div {
    display: block;
    background-color: plum;
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    width: 200vh;
}

footer div.bottom h1{
    margin: 35px 20px;
    padding: 0px;
    color: rgb(84, 63, 84);
    background-color: plum;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
